.header {
  padding: 25px 0;
  border-bottom: 1px solid $color-light-grey;
  
  ul {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    
    li {
      list-style: none;
      padding: 0 25px;

      a {
        text-decoration: none;
        color: $color-primary;
      }
    }
  }
}
